@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: "Avenir Medium";
      font-style: normal;
      src: url(../Fonts/Avenir\ Medium.ttf);
    }
  }

body {
    background-color: #F3F7F7; /* #F9FAFB */
    font-family: "Avenir Medium";
}
.logo {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.home-header {
    background-image: url("../Images/hero_bg_img.jpg");
    background-size: cover;
}
.custom-left-full {
    left: 100%;
    transition: 0.8s;
}
.custom-width-full {
    width: 100%;
    transition: all 0.8s;
}
.mobile-menu-bg-blocker {
    position: fixed;
    inset: 0px;
    z-index: 50;
}
.custom-transition {
    transition: all 0.3s;
}

.hero-h1 {
    animation: animate 1s ease-in-out 1 forwards;
}

.hero-p {
    animation: animate 1.2s ease-in-out 1 forwards;
}

.hero-ctas {
    animation: animate 1.3s ease-in-out 1 forwards;
}
.section-2-content {
    animation: animate 1.4s ease-in-out 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.3s ease;
}
.arrived {
    transform: translateY(0px);
    opacity: 1;
}
 .submenu-dropdown {
    display: none;
}
.services-navlink:hover .submenu-dropdown, #services-mob-navlink:hover .submenu-dropdown {
    display: block;
}
.play-btn-parent::before, .play-btn-parent::after {
    content: "";
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    left: 150px;
    right: 150px;
    top: 150px;
    bottom: 150px;
    animation: after-animate 1.5s linear infinite;
}

@keyframes after-animate {
    0% {
        transform: scale(.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
    }
    
}

.nonHomePage-navbar {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    background-color: #FFFFFF;
}


.input-border-err {
    border-width: 2px;
    border-color: #dc2626;
}

.err-message {
    color: #dc2626;
}
.error-allert {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #991b1b;
    border-radius: 8px;
    background-color: #fef2f2;
}
.successful-alert {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #166534;
    border-radius: 8px;
    background-color: #f0fdf4;
}

.transition_custom_styles {
    transition: all .3s ease-in-out;
}


@keyframes chat_msgs {
    from {
        opacity: 0;
        transform: translate(0, 60px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.chat-response-item {
    max-width: 250px;
    background-color: #F5F6FA;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    color: #283D47;
    border-radius: 0.75rem /* 12px */;
    padding: 0.5rem /* 8px */;
    font-family: sans-serif;
    transform: all 0.3s ease-out;
}
.chat-question-item {
    max-width: 250px;
    border-width: 2px;
    border-color: #213261;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    color: #283D47;
    border-radius: 0.75rem /* 12px */;
    padding: 0.5rem /* 8px */;
    cursor: pointer;
    font-family: sans-serif;
    transform: all 0.3s ease-out;
}
.chat-question-item:hover {
    background-color: #f9fafb;
}

.chat-responses {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.chat-questions-notifier {
    font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;
    color: #374151bf;
    font-weight: 300;
}

.chat-sent-questions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.chat-sent-question-item {
    max-width: 250px;
    background-color: #213261;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    color: #F9FAFA;
    border-radius: 0.75rem /* 12px */;
    padding: 0.5rem /* 8px */;
    font-family: sans-serif;
    transform: all 0.3s ease-out;
}

.chat-response-link {
    text-decoration-line: underline;
    color: #3b82f6;
}
.questions-starter {
    margin-bottom: 10px;
}
/* Card Styles */
.service-card {
    position: relative;
    width: 250px;
    height: 240px;
    perspective: 1000px;
}

.service-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.service-card:hover .service-card-inner {
    transform: rotateY(180deg);
}

.service-card-front,
.service-card-back {
    position: absolute;
    width: 100%;
    height: 240px; /* Matching the height of the image */
    backface-visibility: hidden;
    border-radius: 0.5rem; /* Medium border radius */
}

.service-card-front {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.service-card-front img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 0.5rem; /* Medium border radius */
}

.service-card-front h2 {
    margin-top: 5px; /* Increase separation */
    text-align: center;
    color: #242424;
    font-size: 1rem;
    font-weight: medium;
    flex-grow: 1;
}

.service-card-back {
    background-color: #F5F6FA;
    border: 2px solid #213261;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem; /* Medium border radius */
}

.service-card-back p {
    color: #242424;
    text-align: center;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.service-card-back a {
    border: 2px solid #213261;
    background-color: #213261;
    color: #fff;
    padding: 8px 16px;
    border-radius: 0.375rem;
    text-align: center;
    font-weight: medium;
    transition: background-color 0.3s, border-color 0.3s;
}

.service-card-back a:hover {
    background-color: #d2cb41;
    border-color: #d2cb41;
}

.hidden-job-details {
    display: none;
}
.display-job-details {
    display: block;
}
.icon-rotate {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    transition: 0.3s all;
}
.nav-logo-size {
    width: 5rem; /* 3rem */
    height: 5rem; /* 3rem */
    border-radius: 50%;
}
.footer-logo-size {
    width: 10rem; /* 5rem */
    height:10rem; /* 5rem */
    border-radius: 50%;
}
